#navigation{
  display:flex;
  border:black 1px solid;
}

#navigation div{
  margin-left: 10px;
  border-right:black 1px solid;
  padding-right: 5px;;
  padding-top: 5px;
  padding-bottom: 5px;
}

#header {
 display: flex;
 justify-content: space-between; 
}

#header .search{
  margin-right: 10px;
}

#individualnavigation{
  margin:auto;
  display:flex;
}

#individualnavigation p{
  font-size: 12px;
  margin-left: 10px;
  padding-right: 5px;
}

#main{
  display:flex;
  justify-content: space-between;
}

.Avatar{
  width: 40px;
  height: 40px;
}

#main > div{
  border: solid black 1px;
}

#left {
  display: flex;
  flex-direction: column;
  border: none !important;
  align-items: flex-start;
  width: min-content;
}

#left > div{
  border: solid black 1px;
  margin-bottom: 10px;
}

.tweet{
  display:flex;
  border-bottom: grey 1px solid;
}

.tweetWrapper{
  display:flex;
  padding: 5px;
}

.textArea{
  display: flex;
  flex-direction: column;
  padding-left: 14px;
}

.textArea > p{
  margin: 4px;
}




