*{
  color: gray !important;
}

input[type=button]{
  color:white !important;
}

#infoname{
  color:rgb(78, 76, 76) !important;
}

#header {
 display: flex;
 justify-content: space-between; 
}

#header .search{
  margin-right: 10px;
}

/* 
#main > div{
  border: solid gray 1px;
} */

#left > div{
  border: solid gray 1px;
  margin-bottom: 10px;
}

.tweetWrapper{
  display:flex;
  padding: 5px;
}

.textArea{
  display: flex;
  flex-direction: column;
  padding-left: 14px;
}

#profile{
  padding: 5px;
}

.textArea > p{
  margin: 4px;
}

input:focus {
   outline:none;
   box-shadow: 0 0 3pt 2pt lightblue;
}

div.tweet[style]:first-of-type{
  border-top: none !important;
}

div.tweet[style]:last-of-type{
  border-bottom: solid gray 1px !important;
}



